<!-- Topic section -->
<h3 class="">Tables of topics</h3>
<table class="table" id="table_2">
  <div class="">
    <a
      href="/admin/categories"
      class="btn btn-success rounded-pill"
      style="margin-bottom: 20px"
      >Create topic</a
    >
  </div>
  <thead class="table-dark text-center">
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col" class="text-center">Function</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <td>Web development</td>
      <td>Development</td>
      <td>HTML CSS</td>
      <td style="text-align: center">
        <a href="/admin/viewCategory/" class="btn btn-info" title="view details"
          ><i class="fas fa-info-circle"></i
        ></a>
        <a href="" class="btn btn-warning" title="update category"
          ><i class="far fa-check-circle"></i>
        </a>
        <a href="" class="btn btn-danger" title="Delete"
          ><i class="fas fa-trash-alt"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
