<table class="table" id="table_2">
  <div class="">
    <a
      href="/admin/categories"
      class="btn btn-success"
      style="margin-bottom: 20px"
      >Create category</a
    >
  </div>
  </div>
  <thead class="table-dark text-center">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Category</th> 
      <th scope="col">Description</th>
      <th scope="col" class="text-center">Function</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr>
      <th scope="row">1</th>
      <td>Development</td>
      <td>For Programmer</td>
      <td style="text-align: center">
        <a
          href=""
          class="btn btn-primary"
          title="view details"
          ><i class="fas fa-info-circle"></i
        ></a>
        <a
          href=""
          class="btn btn-success"
          title="update category"
          ><i class="fas fa-user-edit"></i
        ></a>
        <a
          href=""
          class="btn btn-danger"
          title="Delete"
          ><i class="fas fa-trash-alt"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>