<header>
      <div class="menu">
        <div class="menu-bar">
          <i class="fas fa-bars"></i>
        </div>
        <a href="/cart" class="nav-cart">
          <span><i class="far fa-shopping-cart"></i></span>
        </a>
        <div class="nav-user">
          <a href="/login" class="nav-login">
            <span>Log in</span>
          </a>
          <a href="/register" class="nav-sign">
            <span>Sign up</span>
          </a>
        </div>
       <div class="nav-menuitem">
        <div class="nav-categories">
          <span>Categories</span>
      </div>
      <div class="black-bg"></div>
      <div class="nav-item">
        <ul>
          <li><a href="/user/edit-profile">Edit profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>   
    <%}%>
   </div>
  </div>
