<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="stylesheets/topic.css" />
  </head>
  <body>
    <div class="container mt-5 mb-5">
      <div class="topic-content">
        <h3>Topics recommended for you</h3>
      </div>
      <div class="topic-slider">
        <div class="wrapper mt-4">
          <div class="item">
            <a href="" class="link-item text-decoration-none">Python</a>
          </div>
          <div class="item">
            <a href="" class="link-item text-decoration-none">Nodejs</a>
          </div>
          <div class="item">
            <a href="" class="link-item text-decoration-none">JavaScript</a>
          </div>
          <div class="item">
            <a href="" class="link-item text-decoration-none">MongoDB</a>
          </div>
          <div class="item">
            <a href="" class="link-item text-decoration-none">Data science</a>
          </div>
        </div>
        <div class="wrapper mt-3">
          <div class="item-below">
            <a href="" class="link-item text-decoration-none"
              >Web development</a
            >
          </div>
          <div class="item-below">
            <a href="" class="link-item text-decoration-none">Django</a>
          </div>
          <div class="item-below">
            <a href="" class="link-item text-decoration-none"
              >Machine learning</a
            >
          </div>
          <div class="item-below">
            <a href="" class="link-item text-decoration-none">CSS</a>
          </div>
          <div class="item-below">
            <a href="" class="link-item text-decoration-none">Data analysis</a>
          </div>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="./javascript/recommend-topic.js"></script>
  </body>
</html>
