<nav
  class="sidebar sidebar-offcanvas"
  id="sidebar"
  style="background-color: rgb(28, 29, 31)"
>
  <ul class="nav hover-overlay">
    <li class="nav-item hover-overlay">
      <a class="nav-link" href="/instructor">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Courses</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#charts"
        aria-expanded="false"
        aria-controls="charts"
      >
        <i class="far fa-comments menu-icon"></i>
        <span class="menu-title">Feedbacks</span>
        <!-- <i class="menu-arrow"></i> -->
      </a>
      <!-- <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a>
          </li>
        </ul>
      </div> -->
    </li>
    <li class="nav-item">
      <a href="/" class="nav-link">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Student Page</span>
      </a>
    </li>
  </ul>
</nav>
