<head>
  <link
    rel="stylesheet"
    href="<%= process.env.BASE_URL %>/stylesheets/course-detail.css"
  />
</head>

<div class="container">
  <div class="row g-3">
    <div class="col-lg-3">
      <button type="submit" class="btn btn-dark fw-bold">Add chapter</button>
    </div>

    <div class="col-12 d-flex">
      <div class="col-lg-7">
        <h3><%= course.title %></h3>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/<%= course.video_id %>"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p><%= course.description %></p>
      </div>

      <div class="col-6">
        <div class="dropdown">
          <div class="dropdown__select">
            <span class="dropdown__selected">Chapter 1: NPM and Setup</span>
            <i class="fa fa-caret-down dropdown__caret"></i>
          </div>
          <ul class="dropdown__list dropdown-menu">
            <li class="dropdown__item dropdown-item">
              <span class="dropdown__text">Lecture 1:</span>
              <i class="fas fa-play-circle dropdown__icon"></i>
            </li>
            <li class="dropdown__item dropdown-item">
              <span class="dropdown__text">Lecture 2:</span>
              <i class="fas fa-play-circle dropdown__icon"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
