<div class="container">
  <form class="mt-4 row g-3" action="/admin/createtopic" method="POST">
    <h2>Course page</h2>
    <div class="form-group col-12">
      <label for="exampleInputEmail1" class="fw-bold">Title</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="name"
      />
    </div>
    <div class="form-group col-12">
      <label for="exampleInputPassword1">Description</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="description"
      />
    </div>
    <div class="form-group col-12">
      <label for="exampleInputPassword1">Image</label>
      <input
        type="url"
        class="form-control"
        id="exampleInputPassword1"
        name="description"
      />
    </div>

    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Topic</label>
      <select class="form-control" name="category_id">
        <option value="">Web development</option>
        <option value="">Mobile development</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <label for="exampleInputPassword1">Chapter</label>
      <select class="form-control" name="category_id">
        <option value="">Video</option>
        <option value="">Document</option>
      </select>
    </div>

    <div class="form-group col-md-4">
      <label for="exampleInputPassword1">Price</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="description"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-dark fw-bold mt-4">Submit</button>
    </div>
  </form>
</div>
